body{
    display: flex;
    margin: 50px;
    background-image: url(https://www.publicdomainpictures.net/pictures/230000/velka/light-blue-background.jpg);
    background-size: cover;
    color: rgb(1, 1, 148);
    flex-direction: row-reverse;
}
img{
    height: 500px;
    border-radius: 20px;
    margin-top: 150px;
}
.post{    
    margin-right: 60px;
    width: 700px;
    margin-top: 200px;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
    margin-left:100px;
}
P{
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
    margin-top: 50px;
}
p{
    margin-top: 20px;
}
button{
    height: 60px;
    width: 500px;
    background-color:rgb(1, 1, 148);
    color:rgb(169, 215, 255);
    margin-left: 100px;
    margin-top: 50px;
}