body{
    font-family: arial, sans-serif;
    background-color: rgba(255, 105, 180, 0.315);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
    padding: 20px;
    width: 300px;
}